<div class="in-text-banner" style={{backgroundImage}}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          {{yield}}
        </div>
      </div>
    </div>
  </div>
</div>
