<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        Useful Links
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        Latest News
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        Newsletter
      </div>
    </div>
  </div>
  footer
</footer>
