{{#if image}}
  {{#parallax-content speed=parallaxSpeed height=height}}
    <img class="parallax-image" src="{{image}}" />
  {{/parallax-content}}
{{/if}}
<div class="container">
  <div class="row">
    {{yield}}
  </div>
</div>
