<header>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="logo" src="/assets/images/logo.png" alt="AUBiH Logo">
          <div class="header-item-container">
            <a href="{{mailTo}}">{{fa-icon 'envelope-o'}}{{emailAddress}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-item-container">
            <ul>
              <li>
                <a href="#">
                  About
                </a>
                <div>
                  <div class="row">
                    <div class="col-xs-3">
                      test
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">
                  Online
                </a>
              </li>
              <li>
                <a href="#">
                  Academics
                </a>
              </li>
              <li>
                <a href="#">
                  Degree
                </a>
              </li>
              <li>
                <a href="#">
                  Student
                </a>
              </li>
              <li>
                <a href="#">
                  Admission
                </a>
              </li>
              <li>
                <a href="#">
                  Global
                </a>
              </li>
              <li>
                <a href="#">
                  Career
                </a>
              </li>
              <li>
                <a href="#">
                  Research
                </a>
              </li>
              <li>
                <a href="#">
                  Academy
                </a>
              </li>
              <li>
                <a href="#">
                  Innovations
                </a>
              </li>
              <li>
                <a href="#">
                  Alumni
                </a>
              </li>
              <li>
                <a href="#">
                  News
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- <!-- Top bar -->
  <div class="topbar">
    <div class="container topbar-container">
      <div class="row resp-logo-nav">
        <div class="col-lg-12 col-md-12">
          <a href="#/home"><img src="images/favicon/favicon.png"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="topbar-left text-left">
            <ul class="list-inline">
              <li><i class="fa fa-envelope-o"></i> <a href="" class="ems">aubih#edu#info</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="topbar-right text-right">
            <ul class="list-inline">
              <li style="display: none;"> <i class="fa fa-phone"></i> (387) 33 849 700</li>
              <li><a href="https://www.facebook.com/AmericanUniversityInBosniaAndHerzegovina" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/AUBiHedu" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a></li>
              <li><a href="https://plus.google.com/u/0/108383456431860236234/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://instagram.com/american_university_bih/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/edu/school?id=162155&amp;trk=edu-cp-logo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/watch?v=-T4t8949slw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main navigation -->
  <div class="wsmenucontainer clearfix"> --}}
</header>
