<aside>
  <ul>
    {{#each items as |item|}}
      <li>
        {{#link-to item.link}}{{item.title}}{{/link-to}}
        {{#if item.subMenu}}
          <ul>
            {{#each item.subMenu as |subItem|}}
              <li>
                {{#link-to subItem.link}}{{subItem.title}}{{/link-to}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</aside>
