{{#page-banner image='/assets/images/students-banner.jpg' height=404 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'quote-left'}}We are not slaves of the past,<br>nor servants of the present,<br>but masters of the future.{{fa-icon 'quote-right'}}<br/><span>- A.J. Darkholme</span></h1>
  </div>
{{/page-banner}}
<h3>Software Engineering</h3>
<p>A software engineer is a person who applies the principles of software engineering to the design, development, maintenance, testing, and evaluation of the software and systems that make computers or anything containing software work.</p>

<h3>System Engineering</h3>
<p>Systems engineering is an interdisciplinary field of engineering and engineering management that focuses on how to design and manage complex systems over their life cycles. At its core systems engineering utilizes systems thinking principles to organize this body of knowledge. Issues such as requirements engineering, reliability, logistics, coordination of different teams, testing and evaluation, maintainability and many other disciplines necessary for successful system development, design, implementation, and ultimate decommission become more difficult when dealing with large or complex projects.</p>
{{#page-banner filter='opaque-filter'}}
  {{#banner-card cols=6 link='engineering.degree.masters.software'}}
    {{fa-icon 'code'}}
    Software Engineering
  {{/banner-card}}
  {{#banner-card cols=6 link='engineering.degree.masters.system'}}
    {{fa-icon 'microchip'}}
    System Engineering
  {{/banner-card}}
{{/page-banner}}
