<h3>SEMESTER I</h3>

<h3>COSC 111: FUNDAMENTALS OF PROGRAMMING WITH ENGINEERING APPLICATIONS</h3>
<p>Computation is fundamental to the design, analysis and implementation of engineering systems. This course introduces the concepts of computer programming with particular attention to engineering examples. The C programming language is used but the course will stress fundamentals so that students will have a basis for understanding and using other programming languages. Topics include variables, data types, statements, control structures, functions, parameter passing mechanisms, expressions, data structures, files, pointers, storage allocation, elementary searching and sorting, recursion, encapsulation, modularity, incremental development, testing, and debugging.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>ENGR 110 DESIGN AND COMMUNICATION I</h3>
<p>Introductory principles of engineering design processes through practical projects to be undertaken by teams of students; integrated development and demonstration of writing, research, design and presentation skills through research and design projects. Writing, research and organizational skills appropriate for University level writing.
Credits: ETCS: 4 US: 2. Prerequisites: None.</p>

<h3>PHYS 122 MECHANICS FOR ENGINEERS</h3>
<p>This course provides a background in logical problem solving skills used in computing. Topics include problem-solving techniques, number systems, and programming concepts, relational and logical operators.
Credits: ETCS: 4 US: 2. Prerequisites: None.</p>

<h3>MATH 151 CALCULUS I</h3>
<p>Analytic geometry; functions and graphs; limes; derivatives; techniques and application of differentiation; anti-derivatives; definite integral and area; logarithmic and exponential functions; trigonometric functions; Newton, Simpson and trapezoidal method.
Credits: ECTS: 6 US: 3. Prerequisites: None.</p>

<h3>MATH 170 MATRIX ALGEBRA FOR ENGINEERS </h3>
<p>Complex numbers, matrices and basic matrix operations, vectors, linear equations, determinants, eigenvalues and eigenvectors, linear dependence and independence, orthogonality.
Credits: ETCS: 4 US: 2. Prerequisites: None.</p>

<h3>ENGL 102 ORAL AND WRITTEN EXPRESSION</h3>
<p>The course is designed to help students develop and master the skills of oral and written expression in those parts of the syllabus where such advanced skills are needed. A constituent part of speech is aimed for students to understand elements that are common in both oral and written expressions. The course offers students the possibility of presenting written ideas in an oral form. Upon completion of the course, students will be well-acquainted with the following areas: collecting information (including library research), organization of information, recognizing audience and adjusting information to certain audience, as well as techniques of written expression and text editing. Students are asked to demonstrate their oral and written skills in front of an audience.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>


<h3>SEMESTER II</h3>
<h3>CSC 115 FUNDAMENTALS OF PROGRAMMING II</h3>
<p>Techniques, methods, and tools for systematic development and maintenance of software systems and documentation; basic algorithms and data structures; and fundamental concepts of object-oriented programming. Topics include control and data abstraction, modularization, abstract data types, layers of abstraction, information hiding, separation of concerns, type checking, program design, separate compilation, software libraries, techniques for the development of high-quality software components, program understanding.
Credits: ETCS: 4 US: 2. Prerequisites: COSC 111.</p>

<h3>ENGR 120 DESIGN AND COMMUNICATION II</h3>
<p>Principles of engineering design with application to computer, electrical, mechanical and software engineering through practical projects to be undertaken by teams of students; integrated development and demonstration of writing, research, design and presentation skills through research and design projects. Searching and referencing methods used in dealing with scientific and technical literature and the characteristics of effective technical and scientific style. The emphasis throughout will be on clarity, precision, and consistency. Students will acquire practical experience in the writing of short technical documents such as memoranda, letters and abstracts, longer forms such as reports, papers, and theses, and instructional forms such as manuals, brochures, and specifications.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>ENGR 141 MECHANICS FOR ENGINEERS </h3>
<p>Kinematics, particle dynamics, resultant of force systems; load distribution; hydrostatics; Conditions of equilibrium and application of the particles and rigid bodies in two dimensions; Analysis of statically determinate structures including beams, girders and arches; bending moment diagrams and shear forces; dry rub.
Credits: ETCS: 4 US: 2. Prerequisites: None.</p>

<h3>MATH 152 DIFFERENTIALS AND INTEGRALS II</h3>
<p>Volume; arc length and surface area; techniques of integration with applications; polar coordinates and surfaces; l'Hôpital; Taylor's theorem; improper integrals; series and tests for convergence; power series and Taylor's series; complex numbers.
Credits: ECTS: 4 US: 3. Prerequisites: MATH 151</p>

<h3>STAT 260 STATISTIC FOR ENGINEERS </h3>
<p>This course emphasizes the statistical analyses of data and a statistical methodology. The course builds on the core probability and statistics course and introduces statistics applications fundamental to the design and analysis of simulations and engineering systems. Specific topics include point and interval estimation, parametric and non-parametric tests of hypotheses, analysis of variance, linear regression, and survey design of experiments, specifically analysis of power and determination of sample size. The course emphasizes the importance of knowing and understanding the assumptions associated with the use of inferential statistics as well as the usefulness of statistical software packages.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>HIST 105 MODERN US HISTORY</h3>
<p>This course deals with the leading aspects of American history from the Civil War to the present. Attention is given to political issues, institutions, political parties, leadership, and diplomatic and constitutional questions; as well as economic, social, and intellectual trends. This course also focuses on what is unique in the American historical experience and relates American history to the broader global context.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>SEMESTER III</h3>

<h3>ENGR 020 INTRODUCTION TO PROFFESIONAL PRACTICE</h3>
<p>Awareness of the role and responsibilities of Professional Engineers in society with respect to the environment, ethics, equity, public and worker safety and health considerations. Introduction to technical and other forms of work term and/or work experience report preparation, understanding national and international placement standards, WCB standards, engineering logbooks. Development of effective interview techniques, skill assessment and analysis, career management and development. Preparation of resumes and cover letters.
Credits: ETCS: 0 US: 0. Prerequisites: None.</p>

<h3>CSC 230 INTRODUCTION TO COMPUTER ARCHITECTURE</h3>
<p>The architecture of computer systems including concepts such as CPU, memory, buses, I/O, cache, instruction sets, interrupt processing, pipelining, performance. Families of processors, CISC, RISC. Memory organization and management (including virtual memory, protection, segmentation and paging). Computer arithmetic. The use of assemblers, linkers and loaders. Assembly language programming and its interface with a high-level language (C).
Credits: ETCS: 4 US: 2. Prerequisites: COSC 115.</p>

<h3>ELEC 260 CONTINOUS-TIME SIGNALS AND SYSTEMS </h3>
<p>Continuous-time signals and systems. Functions of a complex variable. Analytic functions. Signal properties and basic signal transformations. Elementary functions including the Dirac delta function. System properties. Linear time-invariant systems and convolution. The Fourier series in the analysis of periodic signals. The Fourier transform and spectral analysis. The Laplace transform and its use in system analysis. The relationship between the Fourier and Laplace transforms. Solving differential equations with the Laplace transform. Partial fraction expansions. Using computer simulation of dynamic systems.
Credits: ETCS: 4 US: 2. Prerequisites: MATH 152; Differentials and Integrals II and MATH 170.</p>

<h3>SOEN 265 SOFTWARE DEVELOPMENT METHODS </h3>
<p>Systematic methods for designing, coding, testing and documenting medium-sized programs. Tools and techniques to promote programming productivity and software quality. Topics include specifications, code review and inspection techniques, testing and debugging methods and tools, reusable software components and templates, file system navigation, scripting languages, software tools, environments, instrumenting and profiling, and the fundamentals of software configuration management.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 115.</p>

<h3>Math 123 LOGIC AND FOUNDATIONS</h3>
<p>Logic and quantifiers, basic set theory, mathematical induction and recursive definitions, divide and conquer recurrence relations, properties of integers, counting, functions and relations, countable and uncountable sets, asymptotic notation.
Credits: ETCS: 4 US: 2. Prerequisites: None.</p>


<h3>CHEM 101 FUNDAMENTALS OF CHEMISTRY I</h3>
<p>Introduction to the modern theory of atomic structure and its relation to chemical bonding. Introduction to organic chemistry and modern materials, including polymer chemistry. Laboratory emphasizes skills typically needed in a scientific environment including observing, recording and discussing experimental data. Basic chemical techniques are introduced using a variety of different types of experiments.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>PHYS 125 FUNDAMENTALS OF PHYSICS </h3>
<p>Simple harmonic motion; wave motion, sinusoidal waves, phase velocity, Huygens' Principle, resonance, reflection, refraction and interference; sound; the classic Doppler effect; ray and first order matrix optics, total internal reflection and dispersion; the electromagnetic spectrum; optical spectra and electronic structure; de Broglie waves; principles and applications of nuclear structure, nuclear reactions and ionizing radiation.
Credits: ETCS: 6 US: 3. Prerequisites: MATH 152.</p>

<h3>Semester IV</h3>

<h3>COSC 225 ALGORITHMS AND DATA STRUCTURES I</h3>
<p>An introduction to algorithm design and analysis. Random access machine model. Time and space complexity, average and worst case analysis, upper and lower bounds. Application of correctness proof techniques. Algorithms: internal searching, merging, sorting, selection, hashing; graphs: traversals, topological sort, transitive closure, strongly connected components, shortest path, minimum spanning tree. The existence of intractable problems, heuristics. Data structures: B-trees, heaps and graphs.
Credits: ETCS: 4 US: 2. Prerequisites: COSC 115, and MATH 123.</p>

<h3>ELEC 310 DIGITAL SIGNAL PROCESSING I</h3>
<p>Generation of discrete-time signals through the sampling process and their spectral representation. Mathematical representation and properties of digital signal processing (DSP) systems. Typical DSP systems, e.g., digital filters, and applications. The z transform and its relation to the Laurent series. Evaluation of the inverse z transform using complex series and contour integrals. Application of the z transform for representation and analysis of DSP systems. The processing of continuous time signals using DSP systems. The discrete-Fourier transform and the use of fast Fourier transforms for its evaluation. Introduction to the design of DSP systems.
Credits: ETCS: 6 US: 3. Prerequisites: ELEC 260.</p>

<h3>MATH 222 DISCRETE AND COMBINATORIAL MATHEMATICS</h3>
<p>Graph theory, counting, combinatorial arguments and proofs, inclusion-exclusion, partial orders and equivalence relations, deriving and solving recurrence relations, generating functions.
Credits: ETCS: 4 US: 2. Prerequisites: MATH 123.</p>

<h3>SOEN 271 SOFTWARE MODEL ENGINEERING </h3>
<p>An introduction to analysis and design of software architectures with UML (Unified Modelling Language) and their subsequent synthesis at the program level. Topics include use-case driven requirements analysis, analysis and design of static and dynamic view points of software architectures and model driven code engineering. Design patterns are introduced and applied as reusable solutions to recurring design problems. Students are familiarized with framework-based component reuse, event-driven programming and computer-aided software engineering (CASE) tools.
Credits: ETCS: 6 US: 3. Prerequisites: SOEN 265.</p>

<h3>SOEN 310 HUMAN COMPUTER INTERACTION</h3>
<p>Understanding human behavior as it applies to user interfaces: work activity analysis, observational techniques, questionnaire administration and unobtrusive measures. Operating parameters of the human cognitive system, task analysis and cognitive modelling techniques and their application to designing interfaces. Interface representation and prototyping tools. Cognitive walkthroughs, usability studies and verbal protocol analysis. Case studies of specific user interfaces.
Credits: ETCS: 4 US: 2. Prerequisites: SOEN 265.</p>

<h3>ENGR 280 ENGINEERING ECONOMICS</h3>
<p>Macroeconomic principles: money, interest rates, growth. Microeconomic principles: demand and supply, production, consumer utility and elasticity. Net present value, equivalence, rate of return. Public vs. private sector cost-benefit analysis, externalities, risk and uncertainty. Industry and innovation life cycles.
Note: Credit will be granted for only one of 280 taken before May 2012, ADMN 310, ECON 103, ECON 201.
Credits: ETCS: 6 US: 3. Prerequisites: MATH 110, 133, 211 or 233A. Pre- or corequisites: STAT 254 or 260.</p>

<h3>SEMESTER V</h3>

<h3>SOEN 371 SOFTWARE EVOLUTION</h3>
<p>Introduces problems and solutions of long-term software maintenance/evolution and large-scale, long-lived software systems. Topics include software engineering techniques for programming-in-the-large, programming-in-the-many, legacy software systems, software architecture, software evolution, software maintenance, reverse engineering, program understanding, software visualization, advanced issues in object-oriented programming, design patterns, antipatterns, and client-server computing. Culminates in a team project.
Note: Credit will be granted for only one of 371, 420 or equivalent.
Credits: ETCS: 4 US: 2. Prerequisites: SOEN 271.</p>

<h3>ELEC 360 CONTROL THEORY AND SYSTEMS I</h3>
<p>Characterization of systems: linearity, time invariance, and causality. General feedback theory; time and frequency domain analysis of feedback control systems; Routh-Hurwitz and Nyquist stability criteria; root locus methods; modelling of dc servos; design specifications and system performance; design of PID controllers; lead and lag compensators; introduction to state-space methods.
Credits: ETCS: 6 US: 3. Prerequisites: ELEC 260.</p>

<h3>SOEN 321 REQUIREMENTS ENGINEERING AND FORMAL SPECIFICATIONS </h3>
<p>Combines a range of topics integral to the analysis of requirements, design, implementation, and testing of a medium-scale software system with the practical experience of implementing such a project as a member of a software engineering team. Introduces requirements engineering, specifications, software life cycle models and formal methods for requirements engineering.
Credits: ETCS: 4 US: 2. Prerequisites: SOEN 265 and MATH 222.</p>

<h3>SENG 380 SOFTWARE PROCESS AND MANAGEMENT </h3>
<p>Software life cycle and software process models. Project estimating processes to determine who is going to do what, for how much, when and with what associated risks. Control and life-cycle management of correct, reliable, maintainable and cost effective software. Software documentation. Project management methods and tools. Software metrics (productivity and maturity). Configuration management. Planning for change. Managing expectations and contingencies.
Credits: ETCS: 4 US: 2. Prerequisites: ENGR 280 and third-year standing in the Faculty or permission of the department.</p>

<h3>ENGL 301 PROFESSIONAL WRITINF AND COMMUNICATION </h3>
<p>Professional communication is a specialized writing and communication that help students to respond to the challenges of the technical world. In this course, students will, like professionals, analyze the needs and issues of the importance of concrete situations in the workplace, think of effective solutions and prepare and produce necessary memos, reports, presentations and web pages that will be evaluated by other students in their role of end-users. Students will create, design and pack those documents by choosing appropriate communication technologies with the aim to complete given tasks and present technical data in both written and visual form, as well as present the information orally when possible.
Credits: ECTS: 6 US: 3. Prerequisites: ENGL 102 or permission of instructor.</p>

<h3>ECON 315 GLOBAL ECONOMY</h3>
<p>Students will examine the historical development of global economy and growing interdependence of economy, government and public policies. Economic theories from international trade, finances and monetary policy will be studied within the context of globalization. The contemporary issues of global economy, such as environment, income distribution and development will be analyzed through case studies from different countries.
Credits: ETCS: 6 US: 3. Prerequisites: ECON 103 or permission of instructor. ENGR 280 (Only for Software Engineering students)</p>

<h3>SEMESTER VI</h3>

<h3>COSC 320 FOUNDATIONS OF COMPUTER SCIENCE</h3>
<p>A survey of formal models and results that form the theoretical foundations of computer science; typical topics include finite automata, Turing machines, undecidable problems, context free languages and computational complexity.
Credits: ETCS: 6 US: 3. Prerequisites: 225, MATH 222 or PHYS 242.</p>

<h3>COSC 360 OPERATING SYSTEMS </h3>
<p>The major concepts of operating systems and study of the interrelationships between the operating system and the architecture of computer systems. Topics discussed include operating system structures, concurrent programming techniques, cpu scheduling, deadlocks, memory management, file systems and protection.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 225 and COSC 230.</p>

<h3>COSC 370 DATABASE SYSTEMS</h3>
<p>The use and operating principles of database management systems. Topics include: data entities and relationships; data modelling using Entity-Relation Diagrams: hierarchical, network and relational models of databases; query languages; physical representation of data in secondary storage; relational algebra and calculus as applied to the design of databases; security and integrity in the context of concurrent use; and basic ethical issues associated with database design and use.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 225, SOEN 265.</p>

<h3>SENG 360 SECURITY ENGINEERING</h3>
<p>Topics include basic cryptography, security protocols, access control, multilevel security, physical and environmental security, network security, application security, e-services security, human aspects and business continuity planning. Discusses applications which need various combinations of confidentiality, availability, integrity and covertness properties; mechanisms to incorporate and test these properties in systems. Policy and legal issues are also covered.
Credits: ETCS: 6 US: 3. Prerequisites: SOEN 265.</p>

<h3>CSC 355 DIGITAL LOGIC AND COMPUTER ORGANIZATION </h3>
<p>Fundamentals of logic design, computer organization and hardware components of computers and embedded systems and the development of a structured design methodology. The use of ASIC and field programmable devices. An introduction to Hardware Description Languages and their implementation, finite state machines, the use of CAD algorithms and tools for system design, and the testing of digital systems. Topics include Boolean algebra, combinational and sequential circuits, memory organization, buses and arithmetic units, basic microprocessor design.
Credits: ETCS: 6 US: 3. Prerequisites: Third year standing in the Faculty.</p>

<h3>Semester VII</h3>

<h3>SOEN 426 SOFTWARE QUALITY ENGINEERING</h3>
<p>Emphasizes software quality engineering as an integral facet of development, from requirements through delivery and maintenance. The students will learn how to choose appropriate quality goals and select, plan, and execute quality assurance activities throughout development and evolution to predictably meet quality and schedule goals. They will learn how quality assurance can be incorporated into process improvement feedback loops that amplify the ability of an organization to cost-effectively prevent and detect faults.
Credits: ETCS: 6 US: 3. Prerequisites: SOEN 321 or SOEN 371.</p>

<h3>SOEN 440 EMBEDDED SYSTEMS</h3>
<p>Characteristics and design of embedded systems. Formal models and specification languages for capturing system behavior. Techniques for specification, exploration and refinement. System partitioning and hardware/software co-design. Tools for validation, verification, and simulation. Quality and performance metrics.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 355.</p>

<h3>COSC 361 COMPUTER COMMUNICATIONS AND NETWORKS Communications and Networks</h3>
<p>An introduction to concepts in computer communication and networks. Topics will include layered network architectures, packet switching networks, local area networks, protocol design, and network security. The course will also introduce students to communication networking principles and engineering including resource management, error control, flow control, congestion control, TCP/IP model, algorithm and protocol design for wireless and wired communication networks.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 225, COSC 230, or SOEN 265.</p>

<h3>SYEN 411 FOUNDATIONS OF SYSTEMS ENGINEERING (LAB hours needed)</h3>
<p>This course presents the methodological framework and techniques for designing, implementing, managing and reengineering complex systems or processes. Students learn engineering design and engineering management processes and gain an appreciation for future environments and system life-cycles. Students analyze case studies and complete practice problems to illustrate mastery of course topics. Students also use spreadsheet software for modeling and analyzing design alternatives. The course introduces a Systems Engineering Management Process. The course is designed to allow students the opportunity to learn engineering design and engineering management processes on an individual level. Students will spend eight to twelve lessons in a computer lab environment.
Credits: ETCS: 6 US: 3. Prerequisites: None.</p>

<h3>ENGR 446 TECHNICAL REPORT</h3>
<p> major technical report demonstrating written communication and analytical skills. The report topic must be approved by the Engineering and Computer Science/Math Co-op Program Manager at least two months prior to submission. Work Term Report Guidelines in effect at the time of registration govern report style and format.
Credits: ETCS: 6 US: 3. Prerequisites: ENGR 020 and third year standing in the Faculty.</p>

<h3>SEMESTER VIII</h3>

<h3>COSC 460 DESIGN AND ANALYSIS OF REAL-TIME SYSTEMS</h3>
<p>Fundamental issues in design of real-time operating systems and application software. Typical topics include: hard real-time scheduling, interrupt driven systems, process communication and synchronization, language requirements for real-time systems, decomposition of real-time requirements into process models, and case studies. A project involving design, implementation and testing of a real-time executive and real-time application software will also be included.
Credits: ETCS: 6 US: 3. Prerequisites: COSC 355, or COSC 360, and either SOEN 321 or 365.</p>

<h3>SOEN 499 TECHNICAL PROJECT</h3>
<p>The student is required to pursue an independent industrial project under the supervision of a faculty member, which will include all written documentation, architectural design, technical manuals, project management development, economical evaluation of life cycle of the system. Projects will focus on large and complex software systems, and collaboration with an industrial sponsor is encouraged.
Credits: ETCS: 6 US: 3. Prerequisites: Fourth-year standing in the Faculty.</p>

<h3>SOEN 422 INTRODUCTION TO SCADA SYSTEM</h3>
<p>This course introduces students to the SCADA system, its primary purpose, the elements / components and stages involved in creating a functional SCADA system (system architecture design; supply of RTU, communication and HMI equipment; programming communications equipment and powerful HMI graphics and alarm software programs; installation of communication equipment and PC systems; boot).
Credits: ECTS: 6 US: 3. Prerequisites: Fourth-year standing in the Faculty.</p>

<h3>SOEN 489 Software Engineering Tools</h3>
<p>Current tools used in industry to support various phases of software development are covered such as Rational Rose, Objector Process, as well as coverage of 00 modeling using UML (Unified Modeling Language).
Credits: ETCS: 6 US: 3. Prerequisites: Fourth-year standing in the Faculty.</p>

<h3>SOEN 424 COMPUTER AIDED SYSTEM ENGINEERING </h3>
<p>Students learn how to use information and technology in support of systems decision-making. They learn the basics of data collection and storage through a database design exercise. They learn how to manipulate data in spreadsheets to support decisions. The course introduces students to 2-dimensional and 3-dimensional virtual design and visualization. They also get an introduction to geospatial data analysis and display in support of military operations. Students learn how to effectively use technology while interacting with decision-makers. Communication skills are developed through both written and oral projects and development of interactive graphical presentations. Students will spend most lessons in a computer lab environment.
Credits: ETCS: 6 US: 3. Prerequisites: Fourth-year standing in the Faculty.</p>


