<h3>UNDERGRADUATE DEGREE PROGRAM IN SOFTWARE ENGINEERING</h3>

<table class="tcenter" width="100%" cellspacing="0" border="none">
<tbody><tr>
	<th height="45">Course Prefix</th>
	<th>Course Title</th>
	<th>US credits</th>
	<th>ECTS credits</th>
	<th>GER</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester I</th>
</tr>
<tr>
	<td class="tdleft">COSC 111</td>
	<td class="tdleft">Fundamentals of Programming with Engineering Applications</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGR 110</td>
	<td class="tdleft">Design and Communication I</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">PHYS 122</td>
	<td class="tdleft">Mechanics for Engineers</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">MATH 151</td>
	<td class="tdleft">Calculus I</td>
	<td>3</td>
	<td>6</td>
	<td>GER 1</td>
</tr>
<tr>
	<td class="tdleft">MATH 170</td>
	<td class="tdleft">Matrix Algebra for Engineers</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGL 102</td>
	<td class="tdleft">Oral and Written Expression</td>
	<td>3</td>
	<td>6</td>
	<td>GER 10</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester II</th>
</tr>
<tr>
	<td class="tdleft">COSC 115</td>
	<td class="tdleft">Fundamentals of Programming II</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGR 120</td>
	<td class="tdleft">Design and Communication II</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGR 141</td>
	<td class="tdleft">Mechanics for Engineers</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">MATH 152</td>
	<td class="tdleft">Calculus II</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">STAT 260</td>
	<td class="tdleft">Statistics for Engineers</td>
	<td>3</td>
	<td>6</td>
	<td>GER 1</td>
</tr>
<tr>
	<td class="tdleft">HIST 105</td>
	<td class="tdleft">Modern US History</td>
	<td>3</td>
	<td>6</td>
	<td>GER 4</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester III</th>
</tr>
<tr>
	<td class="tdleft">ENGR 020</td>
	<td class="tdleft">Introduction to Professional Practice</td>
	<td>0</td>
	<td>0</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">COSC 230</td>
	<td class="tdleft">Introduction to Computer Architecture</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ELEC 260</td>
	<td class="tdleft">Continuous-Time Signals and Systems</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 265</td>
	<td class="tdleft">Software Development Methods</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">MATH 123</td>
	<td class="tdleft">Logic and Foundations</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">CHEM 101</td>
	<td class="tdleft">Fundamentals of Chemistry I</td>
	<td>3</td>
	<td>6</td>
	<td>GER 2</td>
</tr>
<tr>
	<td class="tdleft">PHYS 125</td>
	<td class="tdleft">Fundamentals of Physics</td>
	<td>3</td>
	<td>6</td>
	<td>GER 2</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester IV</th>
</tr>
<tr>
	<td class="tdleft">COSC 225</td>
	<td class="tdleft">Algorithms and Data Structures I</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ELEC 310</td>
	<td class="tdleft">Digital Signal Processing I</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">MATH 222</td>
	<td class="tdleft">Discrete and Combinatorial Mathematics</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 271</td>
	<td class="tdleft">Software Model Engineering</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 310</td>
	<td class="tdleft">Human Computer Interaction</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGR 280</td>
	<td class="tdleft">Engineering Economics</td>
	<td>3</td>
	<td>6</td>
	<td>GER 3</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester V</th>
</tr>
<tr>
	<td class="tdleft">SOEN 371</td>
	<td class="tdleft">Software Evolution</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ELEC 360</td>
	<td class="tdleft">Control Theory and Systems I</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 321</td>
	<td class="tdleft">Requirements Engineering and Formal Specifications</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 380</td>
	<td class="tdleft">Software Process and Management</td>
	<td>2</td>
	<td>4</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGL 301</td>
	<td class="tdleft">Professional Writing and Communication</td>
	<td>3</td>
	<td>6</td>
	<td>GER 9</td>
</tr>
<tr>
	<td class="tdleft">ECON 315</td>
	<td class="tdleft">Global Economy </td>
	<td>3</td>
	<td>6</td>
	<td>GER 6</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester VI</th>
</tr>
<tr>
	<td class="tdleft">COSC 320</td>
	<td class="tdleft">Foundations of Computer Science</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">COSC 360</td>
	<td class="tdleft">Operating Systems</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">COSC 370</td>
	<td class="tdleft">Database Systems</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 360</td>
	<td class="tdleft">Security Engineering</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">COSC 355</td>
	<td class="tdleft">Digital Logic and Computer Organization</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester VII</th>
</tr>
<tr>
	<td class="tdleft">SOEN 426</td>
	<td class="tdleft">Software Quality Engineering</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 440</td>
	<td class="tdleft">Embedded Systems</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">COSC 361</td>
	<td class="tdleft">Computer Communications and Networks</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SYEN 411</td>
	<td class="tdleft">Foundations of Systems Engineering</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">ENGR 446</td>
	<td class="tdleft">Technical Report</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="5" height="45">Semester VIII</th>
</tr>
<tr>
	<td class="tdleft">COSC 460</td>
	<td class="tdleft">Design and Analysis of Real-time Systems</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 499</td>
	<td class="tdleft">Technical Project</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SYEN 422</td>
	<td class="tdleft">Introduction to SCADA System</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 489</td>
	<td class="tdleft">Software Engineering Tools</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td class="tdleft">SOEN 424</td>
	<td class="tdleft">Computer Aided Systems Engineering</td>
	<td>3</td>
	<td>6</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">TOTAL CREDITS:
	</th><th>122</th>
	<th>240</th>
	<th>&nbsp;</th>
</tr>
</tbody></table>