<h3>UNDERGRADUATE DEGREE PROGRAM SOFTWARE ENGINEERING</h3>

<p>Undergraduate degree program Software Engineering offers students a chance to learn the practices required for development and maintenance of reliable and efficient software systems and related, complementary sciences. Software engineering covers development of high quality software in a systematic and efficient manner.
Importance of software engineering has grown with the growing demands for development of security applications, i.e. software systems. The study program integrates computer sciences and engineering principles applied in development of products in other areas of information technology.
Furthermore, software engineering is linked to the management of processes and quality, creativity and innovation, standards, individual skill sets, as well as team work and application of theoretical and practical professional knowledge.</p>

<h3>PROGRAM OBJECTIVES</h3>

<p>Undergraduate degree program in Software engineering is a four year study program that provides students with opportunities for:</p>

<ul>
	<li>Learning all aspects of software development and gaining insight into all phases of design up to long term maintenance and evolution of software</li>

	<li>Learning to create and evaluate software in context of physical systems and real world application</li>

	<li>Applying the principles of engineering design to software development, including compromise analyses</li>

	<li>Understanding criteria and quality assurance of software, with competences for evaluation of quality of software systems</li>

	<li>Learning to plan and manage large software projects</li>

	<li>Individual and team work</li>

	<li>Understanding engineering economy and entrepreneurship in software development</li>

	<li>Understanding key concepts for creation of physical systems and real world application</li>

	<li>Integration of the design process of systems and applications</li>

	<li>Effective written and oral communication</li>

	<li>General knowledge and specific skills in software engineering, as well as related computer sciences, mathematics and complementary studies, which provide basis for lifelong learning</li>
</ul>

<h3>STUDENT LEARNING OBJECTIVES</h3>

<ul>
	<li>Students will understand all aspects of software development and the process of development up to the late stages of maintenance and evolution of software</li>

	<li>Students will learn the skills to identify, define and solve software problems, including specification, design, and implementation and testing of software systems that meet the criteria of specification, performance, maintenance and quality</li>

	<li>Students will recognize the main fields of software engineering (data structure, operating systems, programming languages, computer architecture).</li>

	<li>Students will develop skills for efficient team work</li>

	<li>Students will understand the importance of professional, ethical and social responsibility</li>

	<li>Students will gain knowledge and skills to implement discrete mathematics, probabilities and statistics</li>

	<li>Students will acquire skills for presentation of technical material through intensive and interactive relations with target audiences</li>
</ul>

<h3>CAREER</h3>

<p>Students who successfully graduate this program acquire diplomas accredited in the US, EU, Turkey and BiH. The academic title of software engineers provides them with the means for working in a very dynamic industry. They are not programmers - first and foremost, they develop and streamline complex solutions for various important applications in almost all economic sectors. Software engineers, mostly within certain companies, develop or adapt high quality designs or solutions crucial to further development of a project or group of products. The most common advancement opportunities in the field are managerial positions, where they oversee the work performed by engineers, analysts and quality control personnel.</p>

<h3>CAREER PATHS</h3>

<p>Software analysis, network security development, product development, product quality control, application development, data throughput management, integration and system maintenance. Employment is possible locally, regionally and internationally.</p>

<h3>OVERALL REQUIREMENTS</h3>

<p>Enrolling students are required to have four-year high school diploma or international baccalaureate diploma.</p>

<h3>PROFESSIONAL TITLE</h3>

<p>The title earned upon graduation is:</p>

<ul>
	<li>Bachelor of Software Engineering</li>
</ul>