<h3>ELIGIBILITY CRITERIA FOR SCHOLARSHIPS</h3>
<p>AUBiH scholarships are based on test scores in the areas of basic mathematics and English language to measure individual preferences.

However, the American University in Bosnia and Herzegovina offers exceptional education to successful and talented students from Bosnia and Herzegovina and region. Therefore, we are proud to offer full or partial scholarship to newly enrolled students. All students are eligible to apply for scholarships. Scholarships are awarded based on the percentage scored on the entrance exam and grade point average in the High school (for students whose enrolled undergraduate studies). Students are required to maintain their Grade Point Average (GPA) for equivalent scholarship to continue.</p>

<table>
		<tr>
			<th colspan="5">ACADEMIC YEAR 2017 - 2018 TUITION</th>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">BACHELOR STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION / PER YEAR 2017/18</td>
			<td>4.750 KM</td>
			<td>4.350 €</td>
			<td>7.500 €</td>
			<td>7.500 €</td>
		</tr>
		<tr>
			<td>SOFTWARE ENGINEERING</td>
			<td>7.500 KM</td>
			<td>5.500 €</td>
			<td>7.500 €</td>
			<td>7.500 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td>5.500 €</td>
			<td>7.500 €</td>
			<td>10.000 €</td>
			<td>10.000 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Certification program for 4th year resident students: cost is 750 KM / per course and for nonresidents students: cost is from 550 € to 750 € per course</em><br>
			<em>* AY: Academic Year</em><br>
			<em>* BiH/REGION: tuition for students who finished high school in BiH/region and whose parents live and work in BiH/region.</em></td>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">MASTER STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION 2017/18</td>
			<td>7.500 KM</td>
			<td>6.500 €</td>
			<td>8.500 €</td>
			<td>8.500 €</td>
		</tr>
		<tr>
			<td>MASTER THESIS</td>
			<td>1.500 - 2.400 KM</td>
			<td>1.500 - 2.400 €</td>
			<td>1.500 - 2.400 €</td>
			<td>1.500 - 2.400 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td>7.500 KM</td>
			<td>6.500 €</td>
			<td>8.500 €</td>
			<td>8.500 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Notes: Cost of master thesis depends on number of months mentoring</em><br>
			<em>* AY: Academic Year</em></td>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">DOCTORAL STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION 2017/2018</td>
			<td>25.000 KM</td>
			<td>18.500 €</td>
			<td>28.500 €</td>
			<td>28.500 €</td>
		</tr>
		<tr>
			<td>DOCTORAL DISSERTATION</td>
			<td>1.500 - 2.400 KM</td>
			<td>1.500 - 2.400 €</td>
			<td>1.500 - 2.400 €</td>
			<td>1.500 - 2.400 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td>20.000 €</td>
			<td>25.000 €</td>
			<td>35.000 €</td>
			<td>35.000 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Notes: Cost of the dissertation thesis depends on the number of months mentoring</em><br>
			<em>* AY: Academic Year</em></td>
		</tr>
</table>
