<h3>MASTERS DEGREE PROGRAM IN SOFTWARE ENGINEERING</h3>

<h3>Core Courses:</h3>

<h3>SOEN 500 Project Preparations</h3>

<p>This course is a preparation course for the final project (SOEN 600 Master project).</p>

<p>Credits: ECTS: 2 US: 2.</p>

<h3>SOEN 5134 Interface Engineering</h3>

<p>The user interface of a software product is a key factor which determines whether a software project succeeds or fails. This course assesses current UI design issues and explores innovative approaches to UI design in terms of cognitive engineering, human perception, attention and language. The intent is to develop new design methodologies, experimenting with new hardware devices, prototyping new software systems, exploring new paradigms for interaction and developing models and theories of interaction.</p>

<p>Credits: ECTS: 6 US: 3. Prerequisite: None.</p>

<h3>SOEN 5130 Requirements Engineering</h3>

<p>Current techniques, methods, tools and processes used in requirements analysis, definition and specification, including system modeling.</p>
<p>Credits: ECTS: 6 US: 2. Prerequisite: None.</p>

<h3>SOEN 5133 Aspect Oriented Development</h3>
<p>Aspect-Oriented software development (AOD) is a new programming paradigm that increases modularity with a separation of cross-cutting concerns. This course provides a broad perspective of AOD. The topics include: Aspect-Oriented design in C# and visual programming languages, separation of concern in .Net web development, visual simulations, patterns and frameworks, aspects design in video game and robotics software development.</p>
<p>Credits: ECTS: 6 US: 2. Prerequisite: None.</p>

<h3>SOEN 5432 Software Engineering Life Cycle</h3>
<p>In-depth study of the front end of the software life cycle. Feasibility, Concept, Requirements, Specification, Architecture and detailed design methods are explored and exercised.</p>
<p>Credits: ECTS: 6 US: 2. Prerequisite: None.</p>

<h3>SWEN 5430 Software Metrics</h3>
<p>Theory, application and techniques of measurement and analysis. Process and product metrics.</p>
<p>Credits: ECTS: 4 US: 3. Prerequisite: None.</p>

<h3>Semester II</h3>

<h3>Concentrations Courses:</h3>
<p>(Student chooses five (5) courses from the following Concentrations Areas and prepares Master project)</p>

<h3>SOEN 600 Master project: Software Engineering</h3>
<p>Credits: ECTS: 5 US: 2,5. Prerequisites: SOEN 500 Preparation for the project.</p>

<h3>CONCENTRATION FIELD: SOFTWARE ENGINEERING</h3>

<table class="tcenter" width="100%" cellspacing="0" border="none">
<tbody><tr>
	<th height="45">Course Prefix</th>
	<th>Course Title</th>
	<th>US Credits</th>
	<th>ECTS Credits</th>
</tr>
<tr>
	<td class="tdleft">SOEN 501</td>
	<td class="tdleft">Social and Professional Issues</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN5132</td>
	<td class="tdleft">Software Design Patterns</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5232</td>
	<td class="tdleft">Software Construction</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5233</td>
	<td class="tdleft">Software Architecture</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5234</td>
	<td class="tdleft">Software Processes</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5431</td>
	<td class="tdleft">Testing, Validation And Verification</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5138</td>
	<td class="tdleft">Design and Development of Virtual Worlds, Sims and Animation Scripting</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5134</td>
	<td class="tdleft">Gaming Software Development with Service Oriented Architecture</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5433</td>
	<td class="tdleft">Software Design</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5435</td>
	<td class="tdleft">Personal Software Process</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5535</td>
	<td class="tdleft">Reuse And Reengineering</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SOEN 5136</td>
	<td class="tdleft">Software for Robotics</td>
	<td>2,5</td>
	<td>5</td>
</tr>
</tbody></table>
