<table class="tcenter" width="100%" cellspacing="0" border="none">
<tbody><tr>
	<th height="45">Course Prefix</th>
	<th>Course Title</th>
	<th>US Credits</th>
	<th>ECTSCredits</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester I</th>
</tr>
<tr>
	<td class="tdleft">SYEN 500</td>
	<td class="tdleft">Preparations for Project</td>
	<td>1</td>
	<td>2</td>
</tr>
<tr>
	<td class="tdleft">SYEN 587</td>
	<td class="tdleft">Deterministic Models</td>
	<td>2</td>
	<td>6</td>
</tr>
<tr>
	<td class="tdleft">SYEN 588</td>
	<td class="tdleft">Stochastic Models</td>
	<td>3</td>
	<td>6</td>
</tr>
<tr>
	<td class="tdleft">SYEN 585</td>
	<td class="tdleft">Decision Analysis</td>
	<td>3</td>
	<td>6</td>
</tr>
<tr>
	<td class="tdleft">ENMG 520</td>
	<td class="tdleft">Production Operations Management</td>
	<td>3</td>
	<td>4</td>
</tr>
<tr>
	<td class="tdleft">MEEG 511</td>
	<td class="tdleft">Thermal Fluid Systems 1</td>
	<td>3</td>
	<td>6</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester II</th>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Concentration Course 1</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Concentration Course 2</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Concentration Course 3</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Concentration Course 4</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Concentration Course 5</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<td class="tdleft">SYEN 600</td>
	<td class="tdleft">Master Project: System Engineering</td>
	<td>2,5</td>
	<td>5</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">TOTAL CREDITS:
	</th><th>30</th>
	<th>60</th>
</tr>
</tbody></table>
