<div class="row">
  <div class="col-xs-12 col-sm-4">
    <img src="/assets/images/staff/placeholder.png" style="width: 100%; margin-top: 30px;">
  </div>
  <div class="col-xs-12 col-sm-8">
    <h3>A Message from our Dean</h3>
    <p>Dear students and parents,</p>
    <p>The American University in Bosnia and Herzegovina (AUBiH) is multi-ethnic institution accredited in USA, BiH/EU and Turkey which has tailored the quality of its education, scientific-research institutes and operative centers and has strategically directed to the economic needs of Bosnia and Herzegovina’s and region’s development.</p>
    <p>One of the main objectives of the American University in Bosnia and Herzegovina is employment of its graduates in the period of six months after the graduation. Entire system of education including Career Development Center enables students to gain knowledge, skills, working habits and experience acquired throughout internships, which are the platform for future employment in Bosnia and Herzegovina, European Union, United States of America, Turkey, countries of Middle East or elsewhere in the world.</p>
    <p>In last ten years of its existence and engagement, American University in Bosnia and Herzegovina has proved that its graduates are prepared to compete at the world market finding the jobs at the best companies such as Google, KPMG, EBRD, PWC, Oracle, banks, institutions in USA, BiH and EU.</p>
    <p>It is highly important to stress that diplomas and quality of education at American University in Bosnia and Herzegovina have the same value and validity and with no prejudices or differences are licensed in United States of America, countries of European Union as well as Bosnia and Herzegovina.</p>
    <p>Students at AUBiH have a unique opportunity to acquire skills and competencies through research projects with experienced scientists at research institutes and centers of the University.</p>
    <p>AUBiH has developed its joint focus on both the academia and co–ops, because the students acquire skills in these areas in order to gain competence in the market. This approach makes AUBiH stand out in comparison to other universities in Bosnia and Herzegovina. AUBiH prepares students to become leaders and skilled workers in business, public administration, engineering, security and defense, diplomacy, information technology, industrial technology and modern arts as well as assist them in prompting social, economic, and political development in the region.</p>
    <p>We invite you to become our team member and use the possibilities and capacities offered by the American University in Bosnia and Herzegovina, where we are committed to help you to reach your life and professional goals.</p>
    <p>Have a great year!</p>
    <p>Denis Prcić<br>President</p>
  </div>
</div>
