<h3>MASTER'S DEGREE PROGRAM SYSTEM ENGINEERING</h3>

<p>Master's degree program System Engineering is a program that educates students qualified for innovative solutions of complex problems in technologically advanced environments, using engineering solutions that are of significant value to clients and their organizations. System engineers also manage interdisciplinary teams of engineers and other experts in the field of development and implementation of technical solutions to complex problems faced by organizations. The program teaches students how to apply systematic thinking and systematic development and approach to problems.</p>

<h3>PROGRAM OBJECTIVES</h3>

<p>Master's degree program System engineering is a one year program that teaches students the following:</p>

<ul>
  <li>Application of systematic thinking, systematic engineering and decision making, teaching them the skill for defining problems, designing solutions, make decisions and apply engineering solutions in the wider global and social context</li>
  <li>Careful approach to complex problems of system engineering in unpredictable environments, by converting the needs and requests of clients into system functions and queries</li>
  <li>Defining criteria for measuring system performance, in order to design solutions, perform systematic decision making and systemic implementation throughout the system's life cycle</li>
  <li>Management of uncertainty, by applying their knowledge of mathematics, technology and engineering in devising, quantitative evaluation and application of efficient and successful solutions</li>
  <li>Clear verbal and written communicating of engineering solutions to non-IT personnel</li>
  <li>Foundation for further professional and intellectual development in the field of system engineering and related areas</li>
</ul>

<h3>STUDENT LEARNING OBJECTIVES</h3>

<ul>
  <li>Masters students will learn to apply systematic engineering and decision making in order to define problems, design solutions, make decisions and apply specific engineering solutions in a wider global and social context</li>
  <li>Masters students will learn to define criteria for evaluating system performance, in order to come up with solution design, systematic decision making and implementation throughout the system's life cycle</li>
  <li>Masters students will acquire skills of managing and implementing gained knowledge in mathematics, science, technology and engineering</li>
  <li>Masters students will acquire skills for clear communication of engineering solutions, both in oral and written form, to experts as well as non-IT personnel</li>
  <li>Masters students will have a strong foundation for further professional and intellectual development in system engineering and related areas</li>
</ul>

<h3>CAREER</h3>

<p>System engineers work in one of the most elite areas of engineering, as they combine various concepts and practices of numerous engineering disciplines in achieving desired results. System engineering is a multidisciplinary sector that offers employment opportunities in sectors of information technology, industrial manufacturing, material transport, business administration and almost any industry that requires multidisciplinary approach and management. Upon graduating at AUBiH, masters students acquire diplomas accredited in the US, EU, Turkey and BiH, providing unique opportunities for developing a successful career.</p>

<h3>CAREER PATHS</h3>

<p>Development of information systems, development of systems for industrial production, consultant agencies, logistics engineer, program analysis and operations, process control, sales engineer, production monitoring, IT specialist, consultant for risk, financial modeling. Employment is possible locally, regionally and internationally.</p>

<h3>PROFESSIONAL TITLE</h3>
<p>The title earned upon completion and thesis defense is:</p>
<ul>
  <li>Master of System Engineering</li>
</ul>
