<h3>ELIGIBILITY CRITERIA FOR SCHOLARSHIPS</h3>

<p>AUBiH scholarships are based on test scores in the areas of basic mathematics and English language to measure individual preferences.</p>

<p>However, the American University in Bosnia and Herzegovina offers exceptional education to successful and talented students from Bosnia and Herzegovina and region. Therefore, we are proud to offer full or partial scholarship to newly enrolled students. All students are eligible to apply for scholarships. Scholarships are awarded based on the percentage scored on the entrance exam and grade point average in the High school (for students whose enrolled undergraduate studies). Students are required to maintain their Grade Point Average (GPA) for equivalent scholarship to continue.</p>

<table>
	<tbody>
		<tr>
			<th colspan="5">ACADEMIC YEAR 2017 - 2018 TUITION</th>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">BACHELOR STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION / PER YEAR 2017/18</td>
			<td class="tdright">4.750 KM</td>
			<td class="tdright">4.350 €</td>
			<td class="tdright">7.500 €</td>
			<td class="tdright">7.500 €</td>
		</tr>
		<tr>
			<td>SOFTWARE ENGINEERING</td>
			<td class="tdright">7.500 KM</td>
			<td class="tdright">5.500 €</td>
			<td class="tdright">7.500 €</td>
			<td class="tdright">7.500 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td class="tdright">5.500 €</td>
			<td class="tdright">7.500 €</td>
			<td class="tdright">10.000 €</td>
			<td class="tdright">10.000 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Certification program for 4th year resident students: cost is 750 KM / per course and for nonresidents students: cost is from 550 € to 750 € per course</em><br>
			<em>* AY: Academic Year</em><br>
			<em>* BiH/REGION: tuition for students who finished high school in BiH/region and whose parents live and work in BiH/region.</em></td>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">MASTER STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION 2017/18</td>
			<td class="tdright">7.500 KM</td>
			<td class="tdright">6.500 €</td>
			<td class="tdright">8.500 €</td>
			<td class="tdright">8.500 €</td>
		</tr>
		<tr>
			<td>SOFTWARE ENGINEERING 2017/18</td>
			<td class="tdright">9.500 KM</td>
			<td class="tdright">6.500 €</td>
			<td class="tdright">8.500 €</td>
			<td class="tdright">8.500 €</td>
		</tr>
		<tr>
			<td>MASTER THESIS</td>
			<td class="tdright">1.500 - 2.400 KM</td>
			<td class="tdright">1.500 - 2.400 €</td>
			<td class="tdright">1.500 - 2.400 €</td>
			<td class="tdright">1.500 - 2.400 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td class="tdright">7.500 €</td>
			<td class="tdright">6.500 €</td>
			<td class="tdright">8.500 €</td>
			<td class="tdright">8.500 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Notes: Cost of master thesis depends on number of months mentoring</em><br>
			<em>* AY: Academic Year</em><br>
			<em>* Regular Master Thesis 1200 €</em></td>
		</tr>
		<tr>
			<th>Description</th>
			<th>BiH / Region</th>
			<th>Europe / Eurasia</th>
			<th>United States</th>
			<th>Middle East</th>
		</tr>
		<tr>
			<th colspan="5">DOCTORAL STUDIES</th>
		</tr>
		<tr>
			<td>TOTAL TUITION 2017/2018</td>
			<td class="tdright">25.000 KM</td>
			<td class="tdright">18.500 €</td>
			<td class="tdright">28.500 €</td>
			<td class="tdright">28.500 €</td>
		</tr>
		<tr>
			<td>DOCTORAL DISSERTATION</td>
			<td class="tdright">1.500 - 2.400 KM</td>
			<td class="tdright">1.500 - 2.400 €</td>
			<td class="tdright">1.500 - 2.400 €</td>
			<td class="tdright">1.500 - 2.400 €</td>
		</tr>
		<tr>
			<td>REGULAR TUITION</td>
			<td class="tdright">20.000 €</td>
			<td class="tdright">25.000 €</td>
			<td class="tdright">35.000 €</td>
			<td class="tdright">35.000 €</td>
		</tr>
		<tr>
			<td colspan="5"><em>* Notes: Cost of the dissertation thesis depends on the number of months mentoring</em><br>
			<em>* AY: Academic Year</em><br>
			<em>* Regular Disertation 1.500 - 2.400 €</em></td>
		</tr>
	</tbody>
</table>

<p>Regular tuition per year for citizens in Bosnia and Herzegovina and Region is:</p>

<ul>
	<li>5.500 € per year for 4-years Bachelor studies programs,</li>
	<li>7.500 € for 1-year Master studies programs,</li>
	<li>20.000 € for 3-years Doctoral studies programs.</li>
</ul>

<p>METHODS OF PAYMENT</p>

<p>The Office for assistance in financing enables students to pay tuition in four ways:</p>

<p>a) Full payment</p>
<p>Payment deadline: August 1, 2017</p>

<p>b) Two installments</p>
<p>Payment deadline: First installment by August 1, 2017</p>
<p>Second installment by December 30, 2017</p>

<p>c) Six installments</p>
<p>Through POS terminals using Raiffeisen shopping card or American express card.</p>
<p>Payment deadline by August 1, 2017</p>

<p>d) Twelve installment through credit line:</p>
<p>Payment deadline by August 1, 2017</p>
