.banner-card {
  display: block;
  position: relative;
  width: 100%;
  height: $in-text-banner-height - 40px - 30px;
  background-color: $background-color;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 0 30px;
  box-shadow: 0 1px 3px darken($light-grey, 15%);
  text-align: center;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 5px 20px darken($light-grey, 20%);
  }
}
