.in-text-banner-view {
  display: block;
  position: relative;
  margin: -60px 0 50px calc(-50vw + 50%);
  width: 100vw;
  background-color: $light-grey;
  padding: 30px 0 0;
  background-position: center;
  background-size: cover;
  z-index: 0;

  h1 {
    color: $light-font-color;
    padding: 120px 0px;
    margin: 0px;
  }

  &.no-filter {
    padding: 0;

    h1 {
      font-size: 38px;
      text-shadow: 1px 1px 2px $dark-font-color;

      > .fa {
        color: inherit;
        font-size: 20px;
        position: relative;
        top: -10px;
      }

      span {
        color: inherit;
        font-size: 24px;
        font-style: italic;
      }
    }

    &:after {
      background-color: transparentize($aubih-blue, 0.9);
    }
  }

  &:after {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparentize($aubih-blue, 0.1);
  }
}
