$header-child-height: 50px;

header {
  width: 100%;
  height: 100px;
  background-color: $background-color;

  .header-child {
    display: block;
    position: relative;
    width: 100%;
  }

  .top {
    @extend .header-child;
    background-color: $aubih-blue;
    color: $light-font-color;

    * {
      color: $light-font-color;
    }

    .logo {
      position: absolute;
      top: 15px;
      left: 0;
      width: 70px;
      height: 70px;
      padding: 0;
    }
  }

  .bottom {
    @extend .header-child;
    background-color: $transparent-color;

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: 0;

      li {
        display: inline-block;
        height: 100%;
        line-height: $header-child-height;
        font-size: 14px;

        > a {
          @extend .default-link;
          display: block;
          position: relative;
          height: 100%;
          margin: 0;
          padding: 0 7.9px;
          text-transform: uppercase;

          + div {
            position: absolute;
            display: none;
            left: 0;
            width: 100%;
            background-color: $background-color;
            box-sizing: border-box;
            padding: 5px 25px;
            padding-bottom: 25px;
            border: 1px solid $light-grey;

            &:hover {
              display: block;
            }

            h5 {
              display: block;
              width: 100%;
              font-size: 17px;
              color: $aubih-blue;
              margin-bottom: 10px;
              padding-bottom: 10px;
              border-bottom: 1px solid $aubih-blue;
            }

            a {
              @extend .default-link;
              color: $medium-grey;
              display: block;
              width: 100%;
              padding: 7px 0;
              line-height: normal;

              &:hover {
                color: $aubih-blue;
              }
            }
          }

          &:hover {
            color: $light-font-color;
            background-color: $aubih-blue;

            + div {
              display: block;
            }

          }
        }
      }
    }
  }

  .header-item-container {
    position: relative;
    box-sizing: border-box;
    padding-left: 70px;
    height: $header-child-height;
  }
}
