$nested-list-indent: 15px;

@mixin listItem($indent) {
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 $indent;
  margin: 0;
  width: 100%;

  a {
    display: block;
    width: 100%;
    border-bottom: 1px solid $line-color;
    padding: 7px 0;
  }
}

aside {
  a {
    @extend .default-link;

    &:active,
    &:focus,
    &:visited {
      @extend .default-link:active;
    }

    &:hover,
    &.active {
      color: $accent-color;
    }
  }

  > ul {
    @include listItem($nested-list-indent * 0);

    > li {
      @include listItem($nested-list-indent * 0);

      > ul {
        @include listItem($nested-list-indent * 1);

        > li {
          @include listItem($nested-list-indent * 0);
        }
      }
    }
  }
}
