@mixin listContainer() {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

@mixin listItem() {
  position: relative;
  display: inline-block;
  font-size: 14px;

  &:hover > ul {
    display: block;
  }

  a {
    display: block;
    width: 100%;
    padding: 15px 15px;
    text-align: left;

    > .fa {
      color: inherit;
    }

    &.active {
      background-color: transparentize($accent-color, 0);
      color: $light-font-color;
    }
  }

  &.top-level {
    > a {
      > .fa {
        display: none;
      }
    }

    &.has-children {
      > a {
        padding-right: 15px;
      }
    }
  }

  &:not(.top-level) {
    ul {
      top: 0;
      left: 100%;
    }
  }

  .fa {
    margin: 0 0 0 15px;
  }

  &.has-children {
    > a {
      padding-right: 35px;

      > .fa {
        position: absolute;
        right: 15px;
        margin: 0;
        top: calc(50% - 8px);
      }
    }
  }
}

.sub-navigation {
  position: relative;
  z-index: 103;
  background-color: $light-grey;
  font-size: 0;
  text-align: center;

  .item-container {
    display: inline-block;
  }

  a {
    @include default-link($dark-font-color);
    white-space: nowrap;
  }

  ul.top-level {
    @include listContainer();

    li {
      @include listItem();
      width: 100%;

      ul {
        @include listContainer();
        display: none;
        position: absolute;
        width: auto;
        background-color: $light-grey;
        box-shadow: inset 0 0 0 1px $line-color;

        .item-container {
          display: block;
        }
      }
    }
  }
}
