<li class={{topLevelClass}}>
  {{#link-to item.link}}{{item.title}}{{#if item.subMenu}}{{fa-icon 'angle-right'}}{{/if}}{{/link-to}}
  {{#if item.subMenu}}
    <ul>
      {{#each item.subMenu as |subItem|}}
      {{component 'sub-navigation/item' item=subItem}}
      {{/each}}
    </ul>
  {{/if}}
</li>
