{{#in-text-banner image='/assets/images/banner-2.jpg'}}
<div class="col-xs-12">
  <h1>„Science is about knowing, <br/> engineering is about doing.“ <br/> <span>- Henry Petroski</span></h1>
</div>
{{/in-text-banner}}
<p>College of Engineering responds to the growing needs of the market for development of software systems. This study program integrates computer sciences and engineering principles applied in making of modern and efficient software systems. Students of this program will gain knowledge from all aspects of software development process, and fundamental knowledge of computer sciences, which is necessary for everyone who wants to participate in development of software systems. The program focuses on practical and applicable knowledge and skills, which prepares students for successful work in a growing software industry. Classes are taught in English and students who successfully graduate, acquire diplomas accredited in the US, EU, Turkey and BiH</p>
{{#in-text-banner image='/assets/images/engineering-banner.jpg' noFilter=true}}
  {{#banner-card link='engineering.degree.undergraduate'}}
    {{fa-icon 'graduation-cap'}}
    Undergraduate
  {{/banner-card}}
  {{#banner-card link='engineering.degree.masters'}}
    {{fa-icon 'graduation-cap'}}
    Master
  {{/banner-card}}
  {{#banner-card link='engineering.degree.doctoral'}}
    {{fa-icon 'graduation-cap'}}
    Doctoral
  {{/banner-card}}
{{/in-text-banner}}
