<h3>MASTER’S DEGREE PROGRAM IN SOFTWARE ENGINEERING</h3>

<p>Master`s degree program Software Engineering is unique and it covers all major areas of the software development life cycle, including requirements engineering, system specification, architecture and detailed design, testing, quality measurement, software process design, and project management. Our program will prepare masters' students for jobs that require complex software systems to be specified, designed, built, deployed, tested and maintained.</p>

<h3>PROGRAM OBJECTIVES</h3>

<p>Master's degree program Software engineering is a one year program. Students will have an opportunity to:</p>

<ul>
  <li>Learn about all aspects of software development, from early design stages to long term maintenance and evolution of software</li>
  <li>Learn to create and evaluate software in context of physical systems and their real world application</li>
  <li>Implement the principles of engineering design on software development, including compromise analyses</li>
  <li>Understand the criteria and quality assurance of software, together with the expertise to evaluate the quality of software systems</li>
  <li>Plan and manage large software projects</li>
  <li>Perform individual and team work</li>
  <li>Learn engineering economy and entrepreneurship in software design</li>
  <li>Learn the underlying principles for creation of physical systems and applications</li>
  <li>Integrate and get involved in the design process of systems and applications</li>
  <li>Clearly communicate ideas, both in oral and written form</li>
  <li>Acquire a wide array of knowledge and skills in software engineering, as well as in complementary sciences such as engineering, computer sciences, mathematics and complementary studies that serve as basis for lifelong learning</li>
</ul>

<h3>STUDENT LEARNING OBJECTIVES</h3>


<ul>
  <li>Masters’ students will learn about all aspects of software development, as well as the expertise and skills required for professional work</li>
  <li>Masters’ students will acquire skills for initiating, analyzing and specifying software demands through productive work on individual and team projects</li>
  <li>Masters’ students will develop leadership skills on projects, including planning, defining steps and risk management</li>
  <li>Masters’ students will develop skills for clear communication of ideas, work in groups, managing software products and implementing quality solutions</li>
  <li>Masters’ students will develop skills required for efficient team work</li>
  <li>Masters’ students will understand the importance of professional, ethical and social responsibility</li>
  <li>Masters’ students will learn and implement skills in discrete mathematics, probability and statistics calculations</li>
  <li>Masters’ students will develop skills for presentation of technical material through intensive and interactive relations with target audiences</li>
</ul>

<h3>CAREER</h3>

<p>Labor market for software engineers is constantly growing, due to the global trend of digitization of all data, which causes the private organizations, government institutions, and individuals, need professionals who can design software systems and applications that operate in the modern business environment. Upon completion of this program, students will acquire USA, EU, Turkey and BiH accredited diplomas, which will enable them to succeed in their future career with a particular focus applying computer skills, engineering techniques and mathematical principles on development of software systems.</p>

<h3>CAREER PATHS</h3>

<p>Software development, web system development, hardware engineering, building and managing information systems in civil and military industries. Employment is possible at local, regional and international levels</p>

<h3>PROFESSIONAL TITLE</h3>

<p>The title acquired upon successful completion of all courses and defense of master's thesis:</p>

<ul>
  <li>Master of Software Engineering</li>
</ul>
