{{#page-banner image='/assets/images/students-banner.jpg' height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'quote-left'}}You don't write because you want to say something,<br>you write because you've got something to say.{{fa-icon 'quote-right'}}<br/><span>- F. Scott Fitzgerald</span></h1>
  </div>
{{/page-banner}}
 <h3>Computer Engineering</h3>
 <p>Computer engineers implant computers in different machines and frameworks, build systems to exchange information, and create approaches to make computers, faster, smaller, and more capable. Computer engineers are enhancing the capacity of computers to "see" and "think." They are making computers more portable, and notwithstanding fusing PCs into textures, garments, and building materials.</p>
 {{#page-banner image='/assets/images/banner-1.jpg'}}
   {{#banner-card cols=12 link='engineering.degree.doctoral.computer'}}
   {{fa-icon 'laptop'}}
     Computer Engineering
   {{/banner-card}}
 {{/page-banner}}
