{{#page-banner image='/assets/images/banner-3.jpg'}}
	<h1>Doctoral</h1>
 {{/page-banner}}

 <h3>Computer Engineering</h3>
 <p>Computer engineers implant computers in different machines and frameworks, build systems to exchange information, and create approaches to make computers, faster, smaller, and more capable. Computer engineers are enhancing the capacity of computers to "see" and "think." They are making computers more portable, and notwithstanding fusing PCs into textures, garments, and building materials.</p>
