{{#page-banner image='/assets/images/alumni-2-banner.jpg' height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'quote-left'}}It always seems impossilbe<br>until it's done.{{fa-icon 'quote-right'}}</h1>
  </div>
{{/page-banner}}
<p>We are occupied with the part that the University has played in the lives of our graduated students and every year we publish new profiles that investigate encounters, explore experiences, trace career paths and impart wisdom.</p>
{{#page-banner image='/assets/images/alumni-banner.jpg' height=486 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </h1>
  </div>
{{/page-banner}}
