{{#page-banner image='/assets/images/alumni-2-banner.jpg' height=682 filter='light-filter'}}
  <div class="col-xs-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>{{fa-icon 'quote-left'}}It always seems impossible<br>until it's done.{{fa-icon 'quote-right'}}</h1>
  </div>
{{/page-banner}}
<p>We are occupied with the part that the University has played in the lives of our graduated students and every year we publish new profiles that investigate encounters, explore experiences, trace career paths and impart wisdom.</p>
