{{#page-banner image='/assets/images/students-banner.jpg' height=363 filter='light-filter'}}
  <div class="col-xs-12">
    <h1>{{fa-icon 'quote-left'}}There is no more vulnerable human combination<br>than an undergraduate.{{fa-icon 'quote-right'}}<br/><span>- John Dickey</span></h1>
  </div>
{{/page-banner}}
<h3>Software Engineering</h3>
<p>Design, code, and test software products — with the big picture in mind. Think financial software, airline ticketing systems or information databases. As a software engineer, your expertise in analog/digital signal processing, microprocessors, microwaves and fibre optics will give you the tools to tackle these challenges every day.</p>
{{#page-banner image='/assets/images/banner-1.jpg'}}
  {{#banner-card cols=12 link='engineering.degree.undergraduate.software'}}
  {{fa-icon 'code'}}
    Software Engineering
  {{/banner-card}}
{{/page-banner}}
