{{#in-text-banner image='/assets/images/banner-2.jpg' noFilter=true}}
	<h1>Undergraduate</h1>
{{/in-text-banner}}

<h3>Software Engineering</h3>
<p>Design, code, and test software products — with the big picture in mind. Think financial software, airline ticketing systems or information databases. As a software engineer, your expertise in analog/digital signal processing, microprocessors, microwaves and fibre optics will give you the tools to tackle these challenges every day.</p>
