<h3>DOCTORAL DEGREE PROGRAM IN CYBER SECURITY</h3>
<h3>SEMESTER I</h3>
<h3>COEN 900 RESEARCH METHODOLOGY</h3>
<p>Students learn to understand the role and importance of scientific work and research process. Students gradually adopt the program and content of the methodology of scientific research, use the application of scientific methods and techniques of research. The ultimate goal is to provide students with knowledge and skills for doctoral dissertations and other forms of scientific work.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 901 SOFTWARE ENGINEERING</h3>
<p>In order to develop high-quality software it is essential that information systems have the expertise to understand the software development as engineering discipline. This understanding should be aimed at both the practical and theoretical aspects of the discipline.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 920 ALGORITHM</h3>
<p>This course emphasizes the complexity of the analysis, sorting, graph theory and problem solving strategies. A comparison of different algorithms for sorting and graphs, with a focus on the complexity and space, not just on time saving.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMESTER II</h3>
<h3>COEN 930 DIGITAL SYSTEM DESIGN</h3>
<p>The course serves as the final stage of design and binds together the curriculum of computer science through design in order to obtain recognition for the interaction of hardware and software in an embedded system design. This course presents the design goals and decisions, and the results of the implementation of the verbal presentations and written documentation.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 931 ADVANCED SYSTEM FOR DATABASE MANAGEMENT</h3>
<p>Systems for database management are a standard tool that enables storage and data retrieval in the context of modern information systems. The course deals with aspects of the application of relational systems and introduces students to ongoing improvements of the system of relational databases, object-oriented databases and XML database system.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 934 MANAGEMENT INFORMATION SYSTEMS</h3>
<p>The aim of the course is to give the students an understanding of management information systems in the wider, manegerial context and narrower limits of support, design and development of computer applications. Next, focus is on concepts that managers need to understand in order to effectively use the computer information systems.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMESTER III</h3>
<h3>COEN 935 NETWORK INFORMATION SYSTEMS</h3>
<p>Introduce students to network information systems and their use in a variety of functions such as planning medical treatment, management of road traffic and others.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 950 SYSTEM DESIGN METHODS</h3>
<p>To familiarize students with system design methods that make up the framework that allows the construction of information systems must be treated as a disciplinary engineering activity, not as a craft. The choice of methods available varies from very informal group guidelines to highly formal and mathematical approach.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMINAR WORK</h3>
<p>The seminar work on a given topic studies the problem, structure and complexity and on the basis of these analyzes of conclusions about possible ways of solving it. Using literature, the student meets methods for solving the given tasks and gain experience through solving complex problems and tasks, as well as the possibilities of the application of acquired knowledge in practice.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMESTER IV</h3>
<h3>COEN 951 ThHE IMPEMENTATION OF USER INTERFACE</h3>
<p>The aim of the course is that students understand the requirements of an efficient user interface design, as well as to be qualified to produce such interfaces. Familiarizing students with the choice, use and evaluation methods and techniques necessary to design, build and test interfaces in a wide range of contemporary situation of the use of computers in motion and web searches to digital system and the critical safety and other systems with intense interactions. The program takes into account the visual and technical aspects of user interface design.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 960 PROGRAMMING PARADIGMS</h3>
<p>Many software have been developed in procedural programming languages that use similar control constructs and which differ only in the field of application with which the software is related. Modern programmer, however, can choose between a wide choice of languages, each of which offers a new perspective on the task of building software. This item is intended to give students an overview of modern programming languages and programming paradigms and their implementation.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>WORKING IN THE RELEVANT SCIENTIFIC JOURNAL</h3>
<p>The student should produce the scientific work in the field; study the problem, structure and complexity and on the basis of these analyzes constructs conclusions about possible ways of solving it. Using literature, the student meets methods for solving the given tasks and gain experience through solving complex problems and tasks, as well as the possibilities of the application of acquired knowledge in practice. The work must be published in the Ministry of Science and Technological Development.</p>
<h3>PARTICIPATION IN ACADEMIC CONFERENCES</h3>
<p>The student should work in accordance with the concept of scientific conference on which the work will be exposed; student studies the problem, structure and complexity and on the basis of these analyzes produces conclusions about possible ways of solving it. Using literature, the student meets methods for solving the given tasks and gain experience through solving complex problems and tasks, as well as the possibilities of the application of acquired knowledge in practice. The work must be communicated to the relevant scientific meeting of national or international importance.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMESTER V</h3>
<h3>COEN 990 DOCTORAL DISSERTATION - THEORETICAL BASIS</h3>
<p>Use of basic, theoretical and methodological, scientific and professional application of knowledge, methods and latest knowledge in journals with SSCI (and SCI) list on solving specific problems within the course of doctoral studies. Enabling students to independently associate material from the case of doctoral studies, apply previously acquired and new knowledge, in order to review the structure of the original problem and its system analysis in order to draw conclusions on possible directions for its solution. Through independent use of literature, students expand their knowledge and use new methods independently and creatively in solving the given problem.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>COEN 991 DOCTORAL DISSERTATION - ADVANCED RESEARCH WORK</h3>
<p>Continuation of the study and research work from the previous semester. Use of basic, theoretical, methodological, scientific and professional application of knowledge and methods in solving specific problems within the selected areas. Students analyze the problem, its structure and complexity and based on the conducted analysis draw conclusions about possible ways of solving it. Using literature, the student use methods for solving the given tasks and gain experience through solving complex problems and tasks, as well as the possibilities of the application of acquired knowledge in practice.</p>
<p>Credits: ECTS: 10 US: 5. Prerequisite: None.</p>
<h3>SEMESTER VI</h3>
<h3>COEN 995 DOCTORAL DISSERTATION - ORAL DEFENCE</h3>
<p>Acquiring knowledge about the way, the structure and form of writing dissertation studies after completing analyzes and other activities that are carried out within the given doctoral thesis. Students gain scientific experience for creative work, writing papers within which it is necessary to describe the issues, implemented methods and procedures and outcome that have been reached, and that gives a new scientific contribution to the development of science and application of their scientific research into practice. In addition, the goal of making the defense of the doctoral dissertation is to develop skills that will results in independent work in a suitable form, as well as to respond to comments and questions about a given topic.</p>
<p>Credits: ECTS: 30 US: 15. Prerequisite: Doctoral dissertation - writing of the final version.</p>
