<table class="tcenter" width="100%" cellspacing="0" border="none">
<tbody><tr>
	<th height="45">Course Prefix</th>
	<th>Course Title</th>
	<th>US Credits</th>
	<th>ECTSCredits</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester I</th>
</tr>
<tr>
	<td class="tdleft">COEN 900</td>
	<td class="tdleft">Advanced Research Methodology</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">COEN 901 </td>
	<td class="tdleft">Software Engineering</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">COEN 920</td>
	<td class="tdleft">Algorithm Analysis</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester II</th>
</tr>
<tr>
	<td class="tdleft">COEN 930</td>
	<td class="tdleft">Digital System Design</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">COEN 931</td>
	<td class="tdleft">Advanced Database Management System</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">COEN 934</td>
	<td class="tdleft">Management Information Systems</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester III</th>
</tr>
<tr>
	<td class="tdleft">COEN 935</td>
	<td class="tdleft">Network Information Systems</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">COEN 950</td>
	<td class="tdleft">System Design Methods</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Seminar Work</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester IV</th>
</tr>
<tr>
	<td class="tdleft">COEN 951</td>
	<td class="tdleft">The Implementation of the User Interface</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">CSA 699</td>
	<td class="tdleft">Programming Paradigms</td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<td class="tdleft">&nbsp;</td>
	<td class="tdleft">Conference participation and/or publication of a research in a relevant peer-reviewed journal </td>
	<td>5</td>
	<td>10</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester V</th>
</tr>
<tr>
	<td class="tdleft">COEN 990</td>
	<td class="tdleft">Doctoral Dissertation – Theoretical Basis</td>
	<td>10</td>
	<td>15</td>
</tr>
<tr>
	<td class="tdleft">COEN 991 </td>
	<td class="tdleft">Doctoral Dissertation – Advanced Research Work</td>
	<td>5</td>
	<td>15</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="4" height="45">Semester VI</th>
</tr>
<tr>
	<td class="tdleft">CSA 700</td>
	<td class="tdleft">Doctoral dissertation – oral defense </td>
	<td>15</td>
	<td>30</td>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">Total credits:
	</th><th>15</th>
	<th>30</th>
</tr>
<tr>
	<th colspan="2" class="tdright" height="45">TOTAL CREDITS:
	</th><th>90</th>
	<th>18</th>
</tr>
</tbody></table>
