<h3>DOCTORAL DEGREE PROGRAM IN COMPUTER ENGINEERING</h3>
<p>Doctoral degree program of Computer Engineering provides training and deepening of the theoretical and methodological knowledge and competence of doctoral students who can independently lead original and scientifically based research after graduation, and to critically evaluate the research of others.</p>
<h3>PROGRAM OBJECTIVES</h3>
<p>The doctoral degree program in Computer Engineering is a three-year program, which consists of courses and seminars. The program offers to students the following:</p>
<ul>
  <li>Development of creative skills in the interpretation and application of informatics principles and allow the acquisition of specific research skills in line with modern directions of development of information technologies</li>
  <li>Acquisition of specific knowledge in the field of computer engineering through software engineering, algorithm analysis, design of digital systems, advanced systems for database management, management information systems, network information system and methods of system design</li>
  <li>Acquirement of knowledge and development of academic skills for independent handling of the scientific research in a given area</li>
  <li>Participation in national and international scientific research projects</li>
  <li>Development of the ability to organize and participate in interdisciplinary and multidisciplinary research</li>
  <li>Training of candidates for independent use of scientific literature</li>
  <li>Creating conditions for a successful and responsible scientific work in accordance with the highest professional and ethical standards</li>
  <li>Students become skilled and specialized intellectuals, various employment opportunities are available to them, as well as personal development and training, and in the future we expect their significant contribution to the overall</li>
</ul>
<h3>STUDENT LEARNING OBJECTIVES</h3>
<ul>
  <li>Doctoral students will gain qualifications for future leadership in the field of computer engineering</li>
  <li>Doctoral students will develop creative skills in the interpretation and application of informatics principles and acquire specific research skills in line with modern directions of development of information technologies</li>
  <li>Doctoral students will gain specific knowledge in the field of computer engineering through software engineering, algorithm analysis, design of digital systems, advanced systems for database management and management information systems</li>
  <li>Doctoral students will gain knowledge and develop skills and academic skills for independent scientific research in a given area</li>
  <li>Doctoral students will develop the ability to organize and participate in interdisciplinary and multidisciplinary research</li>
</ul>
<h3>CAREER</h3>
<p>Upon completion of the study program at the American University in Bosnia and Herzegovina, doctoral students gain an accredited diploma in the EU, Turkey and Bosnia and Herzegovina, which provides them with the opportunity to develop a successful career. In recent years, the labor market recorded a very large increase in interest for experts in the field of computer engineering. Computer Engineering program covers almost all areas of the industrial sector of information technology, and therefore a wide choice of future career. Doctoral students who successfully complete this study, may perform: entrepreneurship, development of web applications, database management, artificial intelligence, computer management and information systems, computer systems analysis, etc. Doctoral students can also continue a successful career in government institutions and non-governmental organizations.</p>
<h3>CAREER PATHS</h3>
<p>State institutions, international organizations, NGOs, companies, web development solutions. Employment is possible locally, regionally and internationally.</p>
<h3>OVERALL REQUIREMENTS</h3>
<p>Enrolling students are required to have a master’s degree from an accredited university.</p>
<h3>PROFESSIONAL TITLE</h3>
<p>Candidates who meet the requirements of this program and successful defend doctoral dissertation will be awarded doctoral degree AUBiH. The qualification obtained is:</p>
<ul>
  <li>Doctor of Technical Sciences in the field of Computer Engineering</li>
</ul>
