<header class="alumni-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{routeName.parent}}</h3>
        <h1>{{outlet 'pageTitle'}}</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      {{side-navigation items=sideNavigationItems}}
    </div>
    <div class="col-xs-12 col-sm-9">
      {{outlet}}
    </div>
  </div>
</div>
