<header class="engineering-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img class="header-logo" src="/assets/images/logo.png" alt="">
      </div>
      <div class="col-xs-9">
        <h3>{{routeName.parent}}<span>|</span>{{outlet 'pageTitle'}}</h3>
      </div>
    </div>
  </div>
</header>
{{sub-navigation items=subNavigationItems}}
<div class="container">
  <div class="row">
    <div class="col-xs-12 non-relative">
      {{outlet}}
    </div>
  </div>
</div>
