<header class="index-banner">

<div class="container">
  <div class="row">

    {{#link-to 'engineering'}}Engineering{{/link-to}}
    {{#link-to 'alumni'}}Alumni{{/link-to}}
  </div>

</div>
</header>
