<header class="engineering-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Engineering College</h2>
        <h1>About</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      {{side-navigation items=sideNavigationItems}}
    </div>
    <div class="col-xs-12 col-sm-9">
      TEST
    </div>
  </div>
</div>
